<!DOCTYPE html>
<html lang="en">
<head>
  <title>24X7</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <!-- For DataTables -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
  <style>
    .footer {
       position: fixed;
       left: 0;
       bottom: 0;
       width: 100%;
       background-color: rgb(15, 16, 24);
       color: white;
       text-align: center;
    }



   

    </style>
</head>
<body style="background-color: rgb(94, 93, 77);">



<div id="myhomepage">
        <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #071c2b;">
            <a class="navbar-brand" href="#">24x7 Live Customer news</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation"></button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Homepage 
                          <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Contact us</a>
                        <span class="sr-only">(current)</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sports/">Sports</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/aboutus/">About us</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <h2 class="d-flex justify-content-center" style="color:rgb(17, 13, 78)"><i>Write an email to us. We'll get back to you</i></h2>
            <div class="row">
                <div class="col-md-2">

                </div>
                
                <div class="col-md-8">     
                        <form action="/contactus/sendemail" method="POST">
                            <div class="form-group">
                            <label for="exampleInputEmail1" style="color:black"><b>Email address</b></label>
                            <input type="email" name="emailID" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
                            </div>
                            <div class="form-group">
                                <label for="emailbody">Email Body</label>
                                <textarea class="form-control" name="emailbody" id="emailbody" rows="5" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Send Email</button>
                        </form>
                        <p style="color: rgb(21, 49, 21);">
                        <b>
                          <%=data%>
                        </b>  
                        </p>
                </div>
                
                <div class="col-md-2">
                    
                </div>
            </div>

        </div>

   
       

        <div class="footer">
            <p style="opacity:100%"><b>24X7 &#169;	all copyrights are registered</b></p>
          </div>


</div>

</body>
</html>